.main{
  text-align: center;
  position: fixed;
  padding-top: 20%;
  padding-left: 10%;
  
}
body{
  background-image:url(back.jpg);
  background-size:100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 5%;
  padding-top: 30px;
  color:rgb(41, 40, 40);
}

.header{
  display: flex;
  text-align: center;
  justify-content: space-between;
  font-size:20px;
}

.button{
  display: flex;
  text-align: center;
  position: relative;
  bottom: 30px;
  justify-content: space-between;
  font-size:20px;
  bottom: 30px;
  padding-top: 50%;
}

h1{
  font-size: 100px;
  position: fixed;
  text-align: center;
  padding-right: 10%;
  bottom: 200px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
  text-decoration: none;
  color: rgb(41, 40, 40); 
}
